.message {
  border: 1px solid;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.error {
  color: red;
  border-color: red;
}

.warning {
  color: rgb(222, 153, 5);
  border-color: rgb(222, 153, 5);
}

.success {
  color: blue;
  border-color: blue;
}

.process {
  color: green;
  border-color: green;
}

input {
  display: block;
  margin-bottom: 5px;
}