* {
  background: rgb(19, 19, 19);
  color: rgb(237, 237, 237);
}

.message {
  border: 1px solid;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid green;
}

.error {
  color: red;
  border-color: red;
}

.warning {
  color: rgb(222, 153, 5);
  border-color: rgb(222, 153, 5);
}

.success {
  color: blue;
  border-color: blue;
}

.process {
  color: green;
  border-color: green;
}

input {
  display: block;
  margin-bottom: 5px;
  border: 1px solid green;
}

.red, .blue {
  border: 1px solid;
  padding: 20px;
  text-align: center;
}

.red { border-color: red}
.blue { border-color: blue}

.shopping-cart {
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.shopping-cart h5 {
  border-bottom: 1px solid;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
  padding: 20px 0;
  text-transform: uppercase;
}

.shopping-cart .product {
  border-bottom: 1px solid;
  margin-bottom: 5px;
  display: flex;
  padding: 20px;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.shopping-cart .product > div {
  width: 40%;
  text-align: center;
}

.shopping-cart .product > div:last-child {
  width: 20%;
  text-align: right;
}

.shopping-cart .product > div:first-child {
  text-align: left;
}

.shopping-cart .order-resume {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 15px;
}

p {
  margin: 0;
}