* {
  background: rgb(19, 19, 19);
  color: green;
}

.message {
  border: 1px solid;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid green;
}

.error {
  color: red;
  border-color: red;
}

.warning {
  color: rgb(222, 153, 5);
  border-color: rgb(222, 153, 5);
}

.success {
  color: blue;
  border-color: blue;
}

.process {
  color: green;
  border-color: green;
}

input {
  display: block;
  margin-bottom: 5px;
  border: 1px solid green;
}

.red, .blue {
  border: 1px solid;
  padding: 20px;
  text-align: center;
}

.red { border-color: red}
.blue { border-color: blue}